/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    height: 80px;
    background-color: rgb(13, 94, 243);
    line-height: 80px;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1170px;
}

/* row bar */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* bnt */

.btn{
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 2em;
}

.big{
    font-size: 15px;
    padding: 15px;
}

.bianco{
    background-color: white;
    color: rgb(24, 24, 24);
}

.nero{
    background-color: rgb(24, 24, 24);
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#logo, #accedi{
    float: left;
    width: 25%;
}

#logo img{
    vertical-align: middle;
}

nav{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 80px;
}

nav li{
    list-style: none;
    display: inline-block;
}

nav li a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

#accedi{
    text-align: right;
}


/* jumbotron */

#jumbotron{
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

#jumbotron .jumbotext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.jumbotext h1{
    font-size: 50px;
    color: white;
}

.jumbotext p{
    font-size: 18px;
    color: white;
    line-height: 1.7;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotext a{
    margin: 0px 15px;
}

.jumbotext .btn i{
    margin-right: 5px;
    color: rgb(24, 24, 24);
}



/* **** debug **** */

/* .debug header{
    background-color: blueviolet;
} */

.debug .container{
    height: 500px;
    border: 1px solid black;
}

/* .debug #logo{
    height: 80px;
    background-color: darkblue;
}

.debug nav{
    height: 80px;
    background-color: rgb(63, 139, 0);
}

.debug #accedi{
    height: 80px;
    background-color: darkblue;
} */

.debug main{
    height: 700px;
    background-color: chartreuse;
}

/* .debug #jumbotron{
    background-color: darkgoldenrod;
} */

.debug footer{
    height: 500px;
    background-color: dodgerblue;
}